PRIVATE_KEY=0x_your_real_private_key_here
RPI_ADDRESS=0xYourRealRPIAddress
DEX_ADDRESS=0xYourRealDEXAddress
TAX_WALLET=0x742d35Cc6634C0532925a3b8D7c7aB471A8207a3
BSCSCAN_API_KEY=YourBscScanAPIKey
INFURA_API_KEY=your_infura_project_id
RPC_BSC=https://bsc-dataseed1.binance.org/
PORT=3001
TAX_RATE=2
